---
- name: Update apt cache
  apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install essential utility packages
  apt:
    name:
      - btop
      - git 
      - curl
      - wget
      - httpie
      - net-tools
      - nethogs
    state: latest

- name: Remove unnecessary packages
  apt:
    name:
      - htop
    state: absent
    purge: true
